<div class="panel panel-primary pizza_panel order_Address left">
  <div class="panel-heading"><h3>Editing User</h3></div>
     <div class="panel-body">
        <%= render 'form' %>
        
        <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %>
